html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 5px;
  font-family: Roboto;
}

a {
  font-weight: bold;
  text-decoration: none;
  margin: 2px 20px;
  color: gray;
  transition: all 0.15s ease-in-out;
}

a:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.main-layout {
  display: grid;
  grid-template-areas:"h h h h h"
                      "s c c c c";
  grid-gap: 3px;
}

.main-layout > div {
  background-color: #D7E4F3;
}

.header {
  text-align: center;
  grid-area: h;
  font-size: 2em;
}

.side-bar {
  grid-area: s;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 5px;
}

.content {
  grid-area: c;
  padding: 1em;
}

.title {
  grid-column: span 2;
  margin: 5px;
  display: flex;
}

.buttons {
  white-space: pre-wrap;
  font-size: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1.5rem;
  background-color: white;
  margin: 10px;
}

.display-buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(90px, 110px));
}

.typography {
  background-color: white;
  margin: 10px;
  padding: 15px;
}

.typography-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
}
